services:
  api:
    image: rollingsquirrel/wildguess-api:latest
    restart: unless-stopped
    environment:
      - PORT=3000
      - DB_PATH=/data/sqlite.db
      - CORS_ORIGIN=*
    volumes:
      - wildguess-data:/data

  client:
    image: rollingsquirrel/wildguess:latest
    restart: unless-stopped

  nginx:
    image: rollingsquirrel/wildguess-nginx:latest
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - api
      - client

volumes:
  wildguess-data:
