name: Docker Build Check

on:
  pull_request:
    branches:
      - main
    paths:
      - "wildguess-api/**"
      - "wildguess/**"
      - "nginx/**"
      - ".github/workflows/docker-build-check.yml"
      - "docker-compose.yml"

permissions:
  contents: read

jobs:
  build-check:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - image: wildguess-api
            context: ./wildguess-api
          - image: wildguess
            context: ./wildguess
          - image: wildguess-nginx
            context: ./nginx

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build image ${{ matrix.image }}
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: ${{ matrix.context }}
          file: ${{ matrix.context }}/Dockerfile
          push: false
          tags: ${{ matrix.image }}:test
